<div class="container p-2">         
     <div class="row">               
        {{#each links}}                
            <div class="col-md-3">
                <div class="card mb-2">                   
                  <div class="card-header">    
                        <!-- <a href="{{url}}" target="_blank"></a>-->
                        <p id="h9" class="card-title text-uppercase text-underline text-center">
                            Solicitud Nro: {{id}} </p>                             
                         {{#ifCond edo '==' "p"}}
                            <h3 class="mip2 text-uppercase" align="right"><img src="/img/pendiente.png" width="25" height="25" alt="" align="left">Pendiente</h3>                            
                         {{/ifCond}} 
                         {{#ifCond edo '==' "e"}}
                            <h3 class="mip2 text-uppercase" align="right"><img src="/img/enproceso.png" width="25" height="25" alt="" align="left">En proceso</h3>                           
                         {{/ifCond}} 
                         {{#ifCond edo '==' "r"}}
                            <h3 class="mip2 text-uppercase" align="right"><img src="/img/solucion.png" width="25" height="25" alt="" align="left">Finalizado</h3>
                         {{/ifCond}} 
                  </div> 
                  <div class="card-body" id="imgbody">
                         <aside class="mip2">Cliente: {{nombre}}</aside>
                         <aside class="miedo">Teléfono:{{telef}}</aside>
                         <aside class="miedo">Correo: {{correo}}</aside>                         
                         <aside class="miedo">Asunto: {{title}}</aside>                     
                         <aside class="miedo ">Descripción: {{descrip}}</aside>                      
                  </div>  
                        <div class="card-footer"> 
                            <h2 class="mip text-center">{{fecha creado}}</h2>                                                
                            <aside align="center">
                                <a href="/enlaces/delete/{{id}}" class="btn btn-outline-danger mibt"><i class="fa fa-times-circle"></i>Eliminar</a>                        
                                <a href="/enlaces/edit/{{id}}" class="btn btn-outline-success mibt"><i class="fa fa-edit"></i>Editar</a>                      
                            </aside>    
                        </div>
                  
                </div>              
            </div>
         {{else}} 
             <div class="col-md-4 mx-auto">
                 <div class="card card-body text-center">
                     <p>No existen solicitudes registradas..!</p>
                     <a href="/enlaces/add" class="btn btn-primary btn-block">Agregar</a>
                     
                 </div>
             </div>
         {{/each}}
     </div>
</div>