<div class="container p-2">
     <div class="row">
         {{#each links}}                
            <div class="col-md-3">
                <div class="card mb-1">                   
                  <div class="card-header">    
                        <!-- <a href="{{url}}" target="_blank"></a>-->
                        <p id="h9" class="card-title text-underline text-uppercase text-center">
                            Solicitud Nro: {{id}} </p> 
                         {{#ifCond edo '==' "p"}}
                            <h3 class="mip2 text-uppercase" align="right"><img src="/img/pendiente.png" width="20" height="20" alt="" align="left">Pendiente</h3>                            
                         {{/ifCond}} 
                         {{#ifCond edo '==' "e"}}
                            <h3 class="mip2 text-uppercase" align="right"><img src="/img/enproceso.png" width="20" height="20" alt="" align="left">En proceso</h3>                           
                         {{/ifCond}} 
                         {{#ifCond edo '==' "r"}}
                            <h3 class="mip2 text-uppercase" align="right"><img src="/img/solucion.png" width="20" height="20" alt="" align="left">Finalizado</h3>
                         {{/ifCond}} 
                  </div> 
                  <div class="card-body" id="imgbody">                         
                         <aside class="miedo">Asunto: {{title}}</aside>                     
                         <aside class="miedo ">Descripción: {{descrip}}</aside>                      
                  </div>                  
                    <div>
                        <p class="card-footer">                             
                            <h2 class="mip text-center">{{fecha creado}}</h2>                    
                            <aside align="center">
                                <a href="/enlaces/delete/{{id}}" class="btn btn-outline-danger mibt"><i class="fa fa-times-circle"></i>Eliminar</a>                        
                                <a href="/enlaces/edit/{{id}}" class="btn btn-outline-success mibt"><i class="fa fa-edit"></i>Editar</a>                      
                            </aside>    
                        </p>
                    </div>                    
                </div>              
            </div>
         {{else}} 
             <div class="col-md-4 mx-auto">
                 <div class="card card-body text-center">
                     <p>Solicitud no encontrada...!</p>
                     <a href="/enlaces/buscars" class="btn btn-primary btn-block">Aceptar</a>
                     
                 </div>
             </div>
         {{/each}}
     </div>
</div>