<div class="container p-4">
     <div class="row">
         {{#each links}}                
            <div class="col-md-3">
                <div class="card mb-1">                   
                  <div class="card-header">    
                        <!-- <a href="{{url}}" target="_blank"></a>-->
                        <h3 class="card-title text-uppercase text-center micardtit ">
                            Solicitud Nro: {{id}} </h3> 
                         {{#ifCond edo '==' "p"}}
                            <h3 class="miedo text-uppercase" align="right"><img src="/img/pendiente.png" width="20" height="20" alt="" align="left">Pendiente</h3>                            
                         {{/ifCond}} 
                         {{#ifCond edo '==' "e"}}
                            <h3 class="miedo text-uppercase" align="right"><img src="/img/enproceso.png" width="20" height="20" alt="" align="left">En proceso</h3>                           
                         {{/ifCond}} 
                         {{#ifCond edo '==' "r"}}
                            <h3 class="miedo text-uppercase" align="right"><img src="/img/solucion.png" width="20" height="20" alt="" align="left">Finalizado</h3>
                         {{/ifCond}} 
                  </div> 
                  <div class="card-body">
                         <img src="/img/solicitud.png" width="200" height="220" alt="" id="imgbody">
                         <aside class="miedo">Asunto: {{title}}</aside>                     
                         <aside class="miedo ">Descripción: {{descrip}}</aside>                      
                  </div>                  
                        <p class="card-footer">                             
                            <h2 class="mibt text-center">{{timeago  creado}}</h2>                    
                            <aside align="center">
                                <a href="/enlaces/delete/{{id}}" class="btn btn-outline-danger mibt"><i class="fa fa-times-circle"></i>Eliminar</a>                        
                                <a href="/enlaces/edit/{{id}}" class="btn btn-outline-success mibt"><i class="fa fa-edit"></i>Editar</a>                      
                            </aside>    
                        </p>
                                        
                </div>              
            </div>
         {{else}} 
             <div class="col-md-4 mx-auto">
                 <div class="card card-body text-center">
                     <p>No existen enlaces guardados..!</p>
                     <a href="/enlaces/add" class="btn btn-primary btn-block">Agregar</a>
                     
                 </div>
             </div>
         {{/each}}
     </div>
</div>