<div class="container p-4">
    <div class="row">                        
     		<div class="col"> 
      			<div class="card animated flipInY">
          				<div class="card-header bg-dark text-white text-center">
         							<img src="/img/precio.png"  width="70">
            					<h1>Lista de Precios</h1>                    
                      <br>
          				</div>                  
                  <div class="card-body">         			                  
                    <table class="table mipp table-hover table-responsive">
                        <thead>
                          <tr>                          
                           <th scope="col">Cod.</th>
                           <th scope="col">Servicio</th>
                           <th scope="col">Descripción</th>
                           <th scope="col">Precio($)</th>
                           <th scope="col">Precio(Bs)</th>
                           <th scope="col">Categoría</th>
                          </tr>
                        </thead>
                      <tbody>
                        {{#each links}}  
                            <tr>
                                <td class="mipp">{{id}}</td>
                                <td class="mipp">{{nom}}</td>
                                <td class="mipp">{{des}}</td>                                
                                <td class="mipp">{{preciod}}</td>
                                <td class="mipp">{{preciob}}</td>
                                <td class="mipp">{{categoria}}</td>
                            </tr>
                        {{/each}}      
                      </tbody>
                     </table>
                    </div> 
                  </div>          													   					     
  				      </div>
   			    </div>          			
     	  </div>
    </div>
</div>	     
